/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.gallery-section {
  width: auto;
  height: auto;
  background-color: white;
  color: #b55467;
  padding-top: 4.3rem;
}
.Gallery-image-section h1 {
  padding-top: 1.25rem;
  text-align: center;
  padding-bottom: 1.25rem;
  font-family: "Dancing Script", cursive;
}

.gallery {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-width: 33%;
     -moz-column-width: 33%;
          column-width: 33%;
  padding: 0 0.75rem;
}

.gallery .pics {
  -webkit-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom:0.75rem;
}

.gallery .pics:hover {
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
}

.pics img {
  border-radius: 0.625rem;
}

.search-btn {
  text-align: center;
}

.search-btn button {
  width: 16vh;
  height: 2.5rem;
  text-align: center;
  margin-left:2.5rem;
  background-color: #ffffff;
  color: #b55467;
  border-radius: 0.625rem;
  font-weight: bold;
}

.search-btn button:hover {
  border: 3px solid #b55467;
}
.search-btn button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.model {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  -webkit-transition: opacity 0.4s ease, visibility 0.4s ease,
    -webkit-transform 0.5s ease-in-out;
  transition: opacity 0.4s ease, visibility 0.4s ease,
    -webkit-transform 0.5s ease-in-out;
  -o-transition: opacity 0.4s ease, visibility 0.4s ease,
    transform 0.5s ease-in-out;
  transition: opacity 0.4s ease, visibility 0.4s ease,
    transform 0.5s ease-in-out;
  transition: opacity 0.4s ease, visibility 0.4s ease,
    transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  overflow: hidden;
  z-index: 9999;
}

.model.open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.model.open i {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 2.5rem;
  height: 2.5rem;
  padding: 5px;
  color: white;
  cursor: pointer;
}

.model img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  margin: 0 auto;
}

.model video{
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1.25rem;
  margin: 0 auto;
}


@media (max-width: 991px) {
  .gallery {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }
}

@media (max-width: 500px) {
  .gallery {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
    -webkit-column-width: 100%;
       -moz-column-width: 100%;
            column-width: 100%;
  }
}

@media (max-width: 760px) {
  .search-btn button {
    margin-top: 1.25rem;
  }
}

@media (max-width: 530px) {
  .image-section img {
    margin-top:0.9rem;
  }
}

@media (max-width: 286px) {
  .search-btn button {
    margin-left: 0.125rem;
  }
}