@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Abril+Fatface&family=Dancing+Script:wght@400..700&family=Lobster&family=Noto+Sans+Tifinagh&family=Protest+Revolution&family=Rubik+Burned&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.home-section {
  width: 100%;
  height: auto;
  background: url("../image/first_pic.JPG");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-style: normal;
}

.home-content {
  width: auto;
  height: 18.75rem;
  padding-top: 6.25rem;
  text-align: center;
}

.weclome-text{
  font-size: 5rem;
}

.sidit {
  margin-top: 6.25rem;
  width: auto;
  height:6.25rem;
}

.welcome-note {
  text-align: center;
  color: white;
  padding-top: 15.6rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: normal;
  font-optical-sizing: auto;
}

.welcome-note h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: normal;
}

.welcome-content {
  margin-top:1.87rem;
}

.welcome-note p {
  word-spacing: 0.3rem;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-style: normal;
}

.second-home-section {
  width: auto;
  height: 17.5rem;
  background-color: white;
  text-align: center;
  padding-top: 5.625rem;
  color: #b55467;

  font-weight: 900;
  font-style: normal;
}

.second-home-section p {
  font-family: "Playfair Display", serif;
}

.second-home-section h6 {
  font-weight: bold;
}

.third-home-section {
  width: auto;
  height: 18.756rem;
  background-image: url('../image/love\ image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 3.125rem;
}

.forth-home-section {
  width: auto;
  height: 17.5rem;
  background-color: white;
  color: #b55467;
  text-align: center;
  padding-top: 4.375rem;
  background-repeat: no-repeat;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-style: normal;
  font-weight: bold;
  margin-top: 40rem;
}

.sumit{
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: red;
}

.forth-home-section p {
  padding-top: 0.6rem;
}

.fifth-home-section {
  width: auto;
  height: 18.75rem;
  color: white;
  background-image: url('../image/believe.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 3.125rem;
  /* padding-top: 2rem; */
  
}

.sixth-home-section p{
  width: auto;
  height: 17.5rem;
  background-color: white;
  text-align: center;
  padding-top: 5.625rem;
  color: #b55467;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-style: normal;
}


.seventh-home-section {
  width: auto;
  height: 17.5rem;
  background: url("../image/believe.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: white;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-style: normal;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 3.125rem;
}

.eight-home-section{
  width: auto;
  background-color: white;
  text-align: center;
 
  font-weight: 900;
  font-style: normal;
  padding-top: 3.125rem;
  color: #b55467;
  font-weight: bold;
}
.eight-home-section p{
  font-family: "Playfair Display", serif;
}

.testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Playfair Display", serif; /* Applying font to testimonial section */
}

/* Applying font to client name as well */
.testimonial .client-name {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-style: normal;
}

@media screen and (max-width:375px) {

  .weclome-text{
    font-size: 4rem;
  }
  
}
@media screen and (max-width:321px) {

  .weclome-text{
    font-size: 3rem;
  }
  
}
@media screen and (max-width:284px) {

  .sixth-home-section{
    padding-top: 2.5rem;
  }
  
}
@media screen and (max-width:245px) {

  .weclome-text{
    font-size: 2.5rem;
  }
  
}

