@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');

.testimonial-slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.testimonial-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.testimonial-slide {
  flex: 0 0 auto;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.testimonial-slide.active {
  opacity: 1;
}

.testimonial-card {
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  position: relative;
  height: 400px; /* Increased height to prevent overlap */
  margin: 20px;
  background-color: #f8f8f8;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

/* Apply box-shadow when not hovering */
.testimonial-card:not(:hover) {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Apply different box-shadow when hovering */
.testimonial-card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* Apply a different box-shadow when hovering over the photo */
.testimonial-card .testimonial-photo:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.testimonial-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.testimonial-content {
  padding: 20px;
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.testimonial-comment {
  margin-bottom: 40px; /* Adjusted margin to provide more space */
}

.testimonial-date {
  color: #888;
}

.client-name {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

/* Tablet */
@media only screen and (max-width: 1024px) {
  .testimonial-slide {
    width: 50%;
  }
  .testimonial-comment {
    margin-bottom: 20px; /* Adjusted margin for tablet */
    width: 200px;
  }
  .testimonial-card {
    height: 400px; /* Increased height to prevent overlap */
  }
}

/* Mobile */
@media only screen and (max-width: 600px) {
  .testimonial-slide {
    width: 100%;
  }
  .testimonial-card {
    height: 400px; /* Adjusted height for mobile */
  }
  .testimonial-comment {
    margin-bottom: 10px; /* Adjusted margin for mobile */
  }
}

@media only screen and (max-width: 350px) {
  .testimonial-slide {
    width: 100%;
  }
  .testimonial-card {
    height: 450px; /* Adjusted height for mobile */
  }
  .testimonial-comment {
    margin-bottom: 10px; /* Adjusted margin for mobile */
  }
}

@media only screen and (min-width: 1024px) {
  .testimonial-slide {
    width: 33.333%;
  }
}
