@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Update font-family to include Playfair Display */
.main-nav, .menu-link ul li a, .logo h2, .social-media ul li, .client-name {
  font-family: "Playfair Display", serif, "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

li {
  list-style: none;
}

.main-nav {
  width: 100%;
  height: 5.25rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3.75rem 1fr 2fr 1fr 3.65rem;
  grid-template-columns: 3.75rem 1fr 2fr 1fr 3.65rem;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 3.125rem 6.25rem -1.25rem,
    rgba(0, 0, 0, 0.3) 0px 1.875rem 3.75rem -1.875rem;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 3.125rem 6.25rem -1.25rem,
    rgba(0, 0, 0, 0.3) 0px 1.875rem 3.75rem -1.875rem;
  position: fixed;
  background-color: #b55467;
  z-index: 99;
}

 .logo {
  width: 12.5rem;
  height: 5.25rem;
  display: -ms-grid;
  display: grid;
  margin-left: 1.25rem;
     object-fit:contain;
  /* mix-blend-mode: color-dodge; */
} 

.menu-link {
  -ms-grid-column: 4;
  grid-column: 4/4;
}
.menu-link ul {
  height: 3.75rem;
  margin-top: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-link ul li {
  padding-left: 3.125rem;
  color: red !important;
}

.navbar-icon {
  color: white;
}

.social-media {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  color: white;
}

.social-media ul {
  height: 3.75rem;
  display: -ms-grid;
  display: grid;
}

.social-media ul li {
  text-align: right;
  color: white;
}

.social-media ul li:first-child {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.logo h2 {
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#eee, rgb(69, 57, 248));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo h2 span {
  font-size: 3.125rem;
}

.menu-link ul li {
  font-size: 1rem;
}

.menu-link ul li a {
  text-transform: capitalize;
  color: rgba(0, 0, 3, 0.8);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.menu-link ul li:hover > a {
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  color: rgba(0, 0, 3, 1);
  text-decoration: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.social-media .hamburger-menu {
  display: none;
}

/* responsive css style  */
@media (max-width: 1080px) {
  .main-nav {
    -ms-grid-columns: 2rem 3fr 3fr 1fr 2rem;
    grid-template-columns: 2rem 3fr 3fr 1fr 2rem;
  }

  .logo,
  .menu-link ul {
    /* height: 90px; */
  }
}

/* responsive css style  */
@media (max-width: 609px) {
  .logo {
    width: 11.25rem;
    margin-left: 0.625;
  }
}

@media (max-width: 450px) {
  .logo {
    width: 10rem;
    /* margin-left: 0.313rem; */
  }
}

@media (max-width: 286px) {
  .logo {
    width: 6.25rem;
    margin-left: 0;
  }
  .mobile-menu-link {
    height: 14.375rem;
  }
  .main-nav {
    /* height: 1.875rem; */
  }
}

@media (max-width: 998px) {
  .main-nav {
    /* height: rem; */
    -ms-grid-columns: 2rem 2fr 3fr 2rem 2rem;
    grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
  }

  .menu-link {
    display: none;
  }

  .social-media ul {
    height: 1rem;
  }
  .mobile-menu-link {
    background-color: #b55467;
    height: 20rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0.625rem;
    -webkit-transition: all 2s linear;
    -o-transition: all 2s linear;
    transition: all 2s linear;
    -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 3.125rem 6.25rem -1.25rem,
      rgba(0, 0, 0, 0.3) 0px 3.125rem 3.75rem -1.875rem;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 3.125rem 6.25rem -1.25rem,
      rgba(0, 0, 0, 0.3) 0px 3.125rem 3.75rem -1.875rem;
    margin-top: 3px;
  }

  .mobile-menu-link ul {
    height: 20rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding-bottom: 1.25rem;
  }

  .mobile-menu-link ul li:first-child {
    -webkit-transition-delay: 0.2s;
         -o-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }

  .mobile-menu-link:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .social-media {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    justify-items: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 2s linear;
    -o-transition: all 2s linear;
    transition: all 2s linear;
  }

  .social-media .hamburger-menu {
    display: block;
    /* margin-top: 0.5rem; */
    font-size: 2.5rem;
  }

  .social-media .hamburger-menu :focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media (max-width: 798px) {
  .main-nav {
    -ms-grid-columns: 1rem 2fr 1fr 1fr 1rem;
    grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
  }

  .social-media ul {
    height: 1rem;
  }

  .social-media {
    height: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-column-align: end;
        justify-self: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    /* font-size: 2.5rem; */
    margin-bottom: 0.01rem;
  }
}

@media (max-width: 520px) {
  .main-nav {
    /* height: 6rem; */
    -ms-grid-columns: 1rem 4fr 1fr 1fr 1rem;
    grid-template-columns: 1rem 4fr 1fr 1fr 1rem;
  }

  .social-media ul {
    height: 6rem;
  }

  .logo h2 {
    font-size: 2rem;
  }

  .social-media {
    height: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-column-align: end;
        justify-self: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    /* margin-top: 0; */
    font-size: 2.5rem;
  }
}
