.video-section {
  width: auto;
  height: auto;
  /* background-color: #eae3e4; */
  background-color: white;
  color: rgb(0, 0, 0);
  padding-top: 70px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.video-title-section {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-style: normal;
  font-size: 3rem;
}

.video-title-section h1 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.youtube-viedo-section {
  column-count: 2;
  column-width: 50%;
  padding: 0 12px;
  /* align-items: center;
  text-align:center;
  /* width:35rem; */
  /* height: 20rem; */
  border-radius: 1rem;
  padding-left: 0.5rem;
  border: none;
  object-fit: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.youtube-viedo-section iframe {
  width: 30rem;
  height: 17rem;
  object-fit: cover;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}

/* .youtube-viedo-section iframe{ */
/* margin-left: 50px; */
/* margin-top: 30px;
  width: auto;
  height: auto;
  object-fit: cover;
} */

@media (max-width: 1011px) {
  .youtube-viedo-section {
    column-count: 1;
    column-width: 100%;
  }
}